/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html, body {
	font-family:		montserratextralight;
	background-image:	url(./old_bg.jpg);
	color:			#ffffff;
	max-width:		100%;
	overflow-x:		hidden;
	overflow-y:		hidden;
	font-size:		1.5vh;
}


h1 {
	font-size:		5vw;
}

h2 {
	font-size:		2vw;
}


section {
	height:			100vh;
	width:			100%;
}

.darksect {
	background-color:	#242424;
	opacity:		0.8;
}

.lightsect {
	background-color:	#343434;
	opacity:		0.7;
}


#container {
	background-color: 	transparent;
	overflow: 		hidden;
	width: 			90vw;
}

.child {
	float: 			left;
	border-radius:		0.5vw;
	background-color:	#000000;
	padding: 		0.07vw;
	margin:			1vw;
	width: 			88vw;
	height: 		20vh;
}

.dlbutton {
    	float: 			right;
	background-color:	#222222;
	font-family:		inconsolataregular;
	font-size:		1vw;
	color:			#ffffff;
	border-width:		0px;
    	width: 			80%;
	height:			10%;
    	margin-left: 		0.5vw;
    	margin-bottom: 		0.5vh;
	overflow:		auto;
    	position: 		absolute;
    	left:    		0;
    	bottom:   		0;
}

.gitbutton {
    	float: 			right;
	background-color:	#226622;
	font-family:		inconsolataregular;
	font-size:		1vw;
	color:			#ffffff;
	border-width:		0px;
    	width: 			20%;
	height:			10%;
    	margin-right: 		0.5vw;
    	margin-bottom: 		0.5vh;
	overflow:		auto;
    	position: 		absolute;
    	right:    		0;
    	bottom:   		0;
}
